.sectionbar {
  position: fixed;  /* 将菜单栏固定在页面顶部 */
  top: 100px;  /* 将菜单栏置于页面顶部 */
  left: 10px;  /* 将菜单栏置于页面右侧 */
  width: 20%;  /* 设置菜单栏宽度为100% */
  height: 70%;
  background-color: rgba(251,251,251,0.85);  /* 设置菜单栏背景颜色 */
  padding: 10px;  /* 设置菜单栏内边距 */
  box-shadow: 0 0 10px rgba(10,10,250,0.3);  /* 设置菜单栏阴影效果 */
  z-index: 999;  /* 将菜单栏置于页面最前面 */
  border-radius: 10px;
}

.sectionbar ul {
  list-style: none;  /* 去除菜单项的默认样式 */
  margin: 0;  /* 去除菜单项的外边距 */
  padding: 0;  /* 去除菜单项的内边距 */
  color: #101010;
}

.sectionbar li {
  display: inline-block;  /* 将菜单项转换为行内块元素 */
  margin-right: 20px;  /* 设置菜单项之间的间距 */
}

.sectionbar li:last-child {
  margin-right: 0;  /* 去除最后一个菜单项的右边距 */
}

.sectionbar li a {
  text-decoration: none;  /* 去除菜单项的下划线 */
  color: #101010;  /* 设置菜单项的文字颜色 */
  padding: 5px;  /* 设置菜单项内边距 */
  border-radius: 5px;  /* 设置菜单项的圆角 */
  transition: all 0.3s ease;  /* 添加过渡效果 */
}

.sectionbar li a:hover {
  background-color: rgba(37,112,216,0.8);  /* 设置鼠标悬停时的背景颜色 */
  color: #fff;  /* 设置鼠标悬停时的文字颜色 */
}

.content {
  margin-top: 100px;  /* 为页面内容留出菜单栏的空间 */
  padding: 20px;  /* 设置页面内容的内边距 */
}